* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

#root {
  padding: 15px;
}

.main-heading {
  text-align: center;
  margin-top: 30px;
  color: #0056b3;
}
